#nav {
    font-family: cursive;
  }
  .nav-link {
    margin-left: 275px;
    font-size: 25px !important;
    color: #643403 !important;
  }
  .topnav {
    overflow: hidden;
  }
  .navbar {
    background-color: hsl(30, 70%, 52%) !important;
    border-top: hsl(30, 86%, 26%) solid 4px;
    border-bottom: hsl(30, 86%, 26%) solid 4px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid hsl(30, 86%, 26%);
  }
  
  .topnav a.active {
    border-bottom: 3px solid hsl(30, 86%, 26%);
  }